<p>
    Bienvenidos a angular
  </p>
  <h3>counter:{{Counter}}</h3>
  <button (click)="inCreaseBy(1)">+1</button>
  <button (click)="ResetCounter()">Reset</button>
  <button (click)="inCreaseBy(-1)">-1</button>

<h1>{{name}}</h1>

<dl>
<td>Name:</td>
<dd>{{name}}</dd>

<td>Age:</td>
<dd>{{age}}</dd>

<td>metodo:</td>
<dd>{{getHerodescription()}}</dd>


<td>Capitalizado:</td>
<dd>{{CapitalizeName}}</dd>
</dl>

<button *ngIf="name !== 'Spiderman'" (click)="ChangeHero()" class="btn btn-primary mx-2">cambiar nombre</button>
<button *ngIf="age !== 25" (click)="ChangeAge()" class="btn btn-primary mx2">cambiar edad</button>
<button  (click)="ResetForm()" class="btn btn-primary mx-2">Reset</button>
